<div class="container col-6 text-center pt-5">
  <div class="card">
    <div class="card-header">
      <div class="lead text-dark">
        Upload content.json file here!
      </div>
    </div>
    <div class="card-body">

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <input type="file" accept="application/json" id="fileInput" (change)="onFileSelected($event)">
        </li>
        <li class="list-group-item" *ngIf="fileLoadError">
          <div class="alert alert-danger" role="alert" >
            Upload Appropriate JSON file!
          </div>
        </li>
      </ul>

    </div>
    <div class="card-footer">
      <button class="btn btn-primary" [disabled]="!fileLoaded" routerLink="/visualiser" (click)="visualiseTree($event)"> Visualise </button> <br>
      <div class="badge badg-primary" [hidden]="!this.loading"> 
        Loading ...
      </div>
    </div>
  </div>
</div>
